   <html>
       <head>
        <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet"> 
       </head>

    <body  >    
       
    <div id="bodi" class="container"  > 
        

        <div  class="row">
            <div  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div id="mySidenav" class="sidenav">
                  <a *ngIf="perfil=='admin'"  class="texto" id="about" [routerLink]="['/usuarios']">Usuarios</a>
                  <a *ngIf="perfil=='admin'" class="texto" id="blog" [routerLink]="['/alta-propiedades']">Propiedades </a>                       
                  <a *ngIf="perfil=='admin'" class="texto"  [routerLink]="['/estadisticas']" id="projects">Estadisticas</a>
                  <a class="texto" id="contact" [routerLink]="['/login']" (click)="salir()">Salir</a>
                </div>
            </div>
            
            
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
 

  </body>

 

   </html>