
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-primary">
        <div  class="panel-heading">
          <legend id="legendClient" style="color:white"> EDITAR  CLIENTE: {{clienteForm.apellido}}, {{clienteForm.nombre}}</legend></div>
          <div style="background-color: rgba(20, 200, 100, 0.5)" class="panel-body pbody">
              
              <form [formGroup]="clienteForm" class="form-inline"  role="form">
          
                <div class="form-group">
                  <label   class="control-label campo" for="">Nombre:</label>
                  <input formControlName="nombre"  id="nombre"   style="text-align:center; color:red"  style="margin:10px 0px 15px" class="form-control input-sm">
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Apellido:</label>
                  <input formControlName="apellido" id="apellido" style="text-align:center"  style="margin:10px 0px 15px" class="form-control input-sm">
                </div>
                
                <div class="form-group">
                  <label   class="control-label campo" for="">DNI:</label>
                  <input formControlName="dni" id="dni" style="text-align:center" style="margin:10px 0px 15px" class="form-control input-sm" >
                </div>
                <br>
                <div class="form-group">
                  <label   class="control-label campo" for="">Telefono:</label>
                  <input formControlName="telefono" id="telefono" style="text-align:center" style="margin:10px 0px 15px" class="form-control input-sm" >
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Correo:</label>
                  <input formControlName="correo" id="correo" style="text-align:center"  class="form-control input-sm" >
                </div>
                    <button type="button" class="btn btn-primary btn-block" (click)="updateCliente()">Modificar</button>
                    <button type="button" class="btn btn-deault btn-block" (click)="volver()">Volver</button>
                <br>
              </form>

