
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-primary">
        <div  class="panel-heading">
          <legend id="legendClient"> EDITAR  CLIENTE:</legend></div>
          <div style="background-color: rgba(20, 200, 100, 0.5)" class="panel-body pbody">
              
              <form [formGroup]="clienteForm" action="post" class="form-inline"  role="form" #listadoClientes="ngForm">
              
                <div class="form-group">
                  <label   class="control-label campo" for="">Nombre:</label>
                  <input formControlName="nombre"  id="nombre"   style="text-align:center; color:red"  style="margin:10px 0px 15px" class="form-control input-sm" name="nombre">
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Apellido:</label>
                  <input formControlName="apellido" id="apellido" style="text-align:center"  style="margin:10px 0px 15px" class="form-control input-sm" name="apellido">
                </div>
                
                <div class="form-group">
                  <label   class="control-label campo" for="">DNI:</label>
                  <input formControlName="dni" id="dni" style="text-align:center" style="margin:10px 0px 15px" class="form-control input-sm" name="dni" >
                </div>
                <br>
                <!--
                <div class="form-group">
                  <label   class="control-label campo" for="">PASSWORD:</label>
                  <input style="text-align:center" type="password" style="margin:10px 0px 15px" class="form-control input-sm" id="" placeholder="PASSWORD">
                </div>
                -->
                <div class="form-group">
                  <label   class="control-label campo" for="">Telefono:</label>
                  <input formControlName="telefono" id="telefono" style="text-align:center" style="margin:10px 0px 15px" class="form-control input-sm" name="telefono" >
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Correo:</label>
                  <input formControlName="correo" id="correo" style="text-align:center"  class="form-control input-sm" name="correo"  >
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Fecha de Nacimiento:</label>
                  <input  type="date" class="form-control input-sm" id="fecha_nac" name="fecha_nac" >
                </div>
                
                <div class="form-inline" style="text-align:center">
                  <label for="categoria" class="campo">Categoria:</label>
                  <input  type="radio" name="categoria"   (change)="mostrarForm(categoria)"   value="clie"><span class="campo">Cliente</span>
                  <input  type="radio" name="categoria"   (change)="mostrarForm(categoria)"  value="due" focus><span class="campo">Dueño</span>
                </div>
                    <button type="button" class="btn btn-primary btn-block">Modificar</button>
                    <button type="button" class="btn btn-deault btn-block" (click)="volver()">Volver</button>
                <br>
              </form>

