<div class="container">


<div class="alert alert-info">
  <h3><strong>Conozca nuestras sucursales </strong><label *ngIf="titulomapa" style="color:rgb(200,100,25);" (click)="mostrarMapaBool()" >{{titulomapa}}</label></h3>
  <a class="text text-danger" [routerLink]="['/login']" (click)="salir()"> Salir</a>
</div>


<div class="container" *ngIf="mapaVisible" >
  <app-lista-sucursales> </app-lista-sucursales>

</div>



<div class="row">
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    

  
<div class="table-responsive">
  <table class="table table-condensed  table-hover">
    <thead>
      <tr>
        <th style="color: blue; text-align:center;">Id</th>
        <th style="color: blue; text-align:center;" >Tipo Propiedad</th>
        <th style="color: blue; text-align:center;" >Numero Piso</th>
        <th style="color: blue; text-align:center;" >Numero dpto.</th>
        <th style="color: blue; text-align:center;" >Direccion</th>
        <th style="color: blue; text-align:center;" >Localidad</th>
        <th style="color: blue; text-align:center;" >Provincia</th>
        <th style="color: blue; text-align:center;" >Alquiler? </th>
        <th style="color: blue; text-align:center;" >Venta?</th>
        <th style="color: blue; text-align:center;" >Precio Alquiler</th>
        <th style="color: blue; text-align:center;" >Precio Venta</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listaPropiedades">
        <td style="text-align: center;">{{item["id_propiedad"]}}</td>
        <td style="text-align: center;">{{item["tipo_prop"]}}</td>
        <td style="text-align: center;">{{item["num_piso"]}}</td>
        <td style="text-align: center;">{{item["num_deptp"]}}</td>
        <td style="text-align: center;">{{item["direccion"]}}</td>
        <td style="text-align: center;">{{item[localidad]}}</td>
        <td style="text-align: center;">{{item["provincia"]}}</td>
        <td style="text-align: center;">{{item["disponibilidad_alquiler"]}}</td>
        <td style="text-align: center;">{{item["disponibilidad_venta"]}}</td>
        <td style="text-align: center;">${{item["precio_alquiler"]}}</td>
        <td style="text-align: center;">${{item["precio_venta"]}}</td>
        <td style="text-align: center;"><input (click)="comprar(item)" type="button" class="btn btn-sm btn-primary" name="comprar" value="Comprar"></td>
        <td style="text-align: center;"><input (click)="alquilar(item)" type="button" class="btn btn-sm btn-warning" name="alquilar" value="Alquilar"></td>
      </tr>
    </tbody>
  </table>
</div>


  </div>
</div>

</div>
