<div class="container">

  <a class="text text-danger" [routerLink]="['/login']" (click)="salir()"> <p style="font-size: 25px; text-align: right ">Salir</p></a>

<div class="alert alert-info">
  <h3><strong>Conozca nuestras sucursales </strong><label *ngIf="titulomapa" style="color:rgb(200,100,25);" (click)="mostrarMapaBool()" >{{titulomapa}}</label></h3>

</div>


<div class="container" *ngIf="mapaVisible" >
  <app-lista-sucursales> </app-lista-sucursales>

</div>



<div class="row">
  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    
        <app-lista-propiedades></app-lista-propiedades>

  </div>
</div>

</div>
