<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <legend style="color: white" id="legendClient">EDITAR EMPLEADO </legend>
        </div>
          <div class="panel-body pbody">

              <p style="color: red"  class="legendProp"></p>
              
              <form  class="form-inline" role="form" [formGroup]="formEmp">

                <div class="form-group">
                  <label   class="control-label campo" for="">Selecciona sucursal destino:</label>
                  <select formControlName="id_sucursal" class="form-control">
                    <option  value=1>Ramos Mejía</option>
                    <option value=2>Capital Federal</option>
                    <option value=3>Turdera</option>
                  </select>
                </div>

                <div class="radio" >
                    <input formControlName="perfil" type="radio"  value="encargado">Encargado
                    <input formControlName="perfil" type="radio"  value="empleado">Empleado
                </div>
              
                <div class="form-group">
                  <label   class="control-label campo" for="">Nombre:</label>
                  <input style="text-align:center" formControlName="nombre"  type="text" style="margin:10px 0px 15px" class="form-control input-sm" id="nombre" name="nombre" placeholder="Nombre">
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Apellido:</label>
                  <input style="text-align:center" formControlName="apellido"  type="text" style="margin:10px 0px 15px" class="form-control input-sm" id="apellido" name="apellido" placeholder="Apellido">
                </div>
                <div class="form-group">
                  <label   class="control-label campo" for="">DNI:</label>
                  <input style="text-align:center" formControlName="dni"  type="text" style="margin:10px 0px 15px" class="form-control input-sm" id="dni" name="dni" placeholder="DNI">
                </div>
                <br>
                <div class="form-group">
                  <label   class="control-label campo" for="">Telefono:</label>
                  <input style="text-align:center" formControlName="telefono"  type="text" style="margin:10px 0px 15px" class="form-control input-sm" id="telefono" name="telefono" placeholder="Telefono">
                </div>
                <div class="form-group">
                  <label   class="control-label campo" for="">Sueldo:</label>
                  <input style="text-align:center" formControlName="sueldo"  type="text" style="margin:10px 0px 15px" class="form-control input-sm" id="telefono" name="telefono" placeholder="Sueldo">
                </div>
                 <div class="form-group">
                  <label   class="control-label campo" for="">Correo:</label>
                  <input style="text-align:center" formControlName="correo"  type="email" class="form-control input-sm" id="correo" name="correo" placeholder="Correo">
                </div>
                <div class="form-group">
                  <label   class="control-label campo" for="">Fecha de nacimiento:</label>
                  <input style="text-align:center" formControlName="fecha_nac"  type="date" class="form-control input-sm" id="correo" name="correo" placeholder="Correo">
                </div>

                <br>
                <button type="button" (click)="modificarEmpleado()" class="btn btn-success btn-block">Modificar</button>
              </form>

           <!-- </dvi>  -->
      </div>
</div>