<link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    

<button type="button" class="btn btn-info" (click)="exportarCSV()">CSV</button>
<button type="button" class="btn btn-info" (click)="exportarPDF()">PDF</button>


<h2 class="campo" style="text-align:center;">LISTA DE CLIENTES</h2>

<div class="table-responsive">
<table class="table table-hover">
    <thead>
        <tr>
            <th style="color: blue; text-align:center;" class="encabezados">Nombre</th>
            <th style="color: blue; text-align:center;" class="encabezados">Apellido</th>
            <th style="color: blue; text-align:center;" class="encabezados">DNI</th>
            <th style="color: blue; text-align:center;" class="encabezados">Telefono</th>
            <th style="color: blue; text-align:center;" class="encabezados">Correo</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of lista" >
            <td style="text-align: center;"> {{ item["nombre"] }} </td>
            <td style="text-align: center;"> {{ item["apellido"] }} </td>
            <td style="text-align: center;"> {{ item["dni"] }} </td>
            <td style="text-align: center;"> {{ item["telefono"] }} </td>
            <td style="text-align: center;"> {{ item["correo"] }} </td>
            <td style="text-align: center;"> <input (click)="editarCliente(item)" type="button" class="btn btn-sm btn-warning" name="editar" value="Editar"> </td>
            <td style="text-align: center;"> <input (click)="borrarCliente(item)" type="button" class="btn btn-sm btn-danger" name="borrar" value="Eliminar"> </td>
            
        </tr>

    </tbody>
</table>
</div>