
<form [hidden]=true class="form-horizontal" role="form">
  <div class="form-group">
    <label for="mail" class="col-md-2" sr-only>Email</label>
    <div class="col-md-10">
      <input type="email" class="form-control" id="mail"
             placeholder="Email">
    </div>

     <label for="passw" class="col-md-2" sr-only>Password</label>
    <div class="col-md-10">
      <input type="password" class="form-control" id="passw"
             placeholder="Password">
    </div>

   </div>
    <input type="button" class="btn btn-primary" value="Ingresar">
    <input type="button" class="btn btn-info" value="Cerrar">